html{
font-family: 'lobster', cursive;
font-size: 16px;

}


table{
	background-color: skyblue;
  width:100%;

  border:1px solid #f6f6f6;
  border-radius:5px;
  border-width:5px;

}


td{

background-color: skyblue;
  width:10%;

  border:1px solid ;
  border-radius:1px;
  border-width:1px;
  
}

img:hover{

     opacity: 100%;
   
}
img {
  z-index:1;
  filter:alpha(opacity=80);
  -moz-opacity:.80;
  opacity:.80;
}



.form{
  position: relative;
  background-color:skyblue;
  width: 50px; 
  height: 270px;
  border:1px solid #f6f6f6;
  border-radius:20px;
  
  border-width:10px; 

}





#visor_imagenes {
  width:290px;
  text-align: center;
  background-color:skyblue;
  border:1px solid #f6f6f6;
  border-radius:5px;
  border-width:10px;

}

#visor_imagenes2 {
  position: absolute;
  top: 210px;
  width:150px;
  height:260px;
  text-align: center;
  background-color:skyblue;
  border:1px solid #f6f6f6;
  border-radius:5px;
  border-width:10px;

}


#visor_imagenes3 {
  position: absolute;
  left: 300px;
  top: 210px;
  width:150px;
  height:260px;
  text-align: center;
  background-color:skyblue;
  border:1px solid #f6f6f6;
  border-radius:5px;
  border-width:10px;

}


#visor_imagenes4 {
  position: absolute;
  left: 600px;
  top: 210px;
  width:150px;
  height:260px;
  text-align: center;
  background-color:skyblue;
  border:1px solid #f6f6f6;
  border-radius:5px;
  border-width:10px;

}

#visor_imagenes5 {
  position: absolute;
  left: 890px;
  top: 210px;
  width:150px;
  height:260px;
  text-align: center;
  background-color:skyblue;
  border:1px solid #f6f6f6;
  border-radius:5px;
  border-width:10px;

}




input[type=submit]{
 border:1px;
 
  border-color: black;
  width: 90px;
  position: relative;
  top:-50px;
border-radius: 10px;
 border-width: 5px; 
 border:5px solid grey;
position: absolute;
top: 212px;
left: 50px;
opacity: 80%;
}

input[type=submit]:hover{

opacity: 100%;

}
input[type=button]{

border:1px;
 border-color: black;
  width: 90px;
  position: relative;
 
border-radius: 10px;
 border-width: 5px; 
 border:5px solid grey;
position: absolute;
top: 330px;
left: -49px;
opacity: 80%;">
}

input[type=button]:hover{


opacity: 100%;">
}